@import controllers.routes._

@this(
    mainTemplate: MainTemplate,
    formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}"
    ) {

    @formHelper(action = $className;format="cap"$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @back_link()
        
        @errorSummary(form.errors)

        @heading("$className;format="decap"$.heading")

        @input_text(
            field = form("$field1Name$"),
            label = messages("$className;format="decap"$.$field1Name$")
        )

        @input_text(
            field = form("$field2Name$"),
            label = messages("$className;format="decap"$.$field2Name$")
        )

        @submit_button()
    }
}
